Config {
   -- appearance
     font             =  "xft:RobotoMono Nerd Font:size=9:antialias=true"
   , bgColor          =  "#1c1c1c"
   , fgColor          =  "#ebdbb2"
   , alpha            =  255
   , position         =  Static { xpos = 0 , ypos = 0, width = 1366, height = 28}
   , border           =  NoBorder
   , borderColor      =  "#373b41"
   , lowerOnStart     =  False
   , hideOnStart      =  False
   , allDesktops      =  True
   , overrideRedirect =  True
   , pickBroadest     =  False
   , textOutputFormat = Ansi
   , persistent       =  False
   , sepChar          =  "%"
   , alignSep         =  "}{"
   , template         =  " %UnsafeStdinReader% }{ <fc=#CE5666>%cpu%</fc> | <fc=#5A667F>%memory%</fc> | <fc=#e0bc93>%battery%</fc> | <fc=#5f8787>%clock%</fc> "
   , commands = [
       Run UnsafeStdinReader,
       Run Com "/home/jk/.config/xmonad/scripts/cpu.sh" [] "cpu" 100,
       Run Com "/home/jk/.config/xmonad/scripts/memory.sh" [] "memory" 100,
       Run Com "/home/jk/.config/xmonad/scripts/battery.sh" [] "battery" 100,
       Run Com "/home/jk/.config/xmonad/scripts/clock.sh" [] "clock" 600
        	]
   }
